extends layout

block content
  h1= title
  p Welcome to #{title}
  ul(class="ui-list ui-border-tb ")
    li(id="ExList" onmouseover="this.classList.add('active')" onmouseout="this.classList.remove('active')")
      div(class="ui-list-img-square")
        span(style="background-image:url(http://placeholder.qiniudn.com/188x188)")
      div(class="ui-list-info ui-border-t")
        h4(class="ui-nowrap") 试验列表
        p(class="ui-nowrap") 列出所有的正在进行的和已完成的试验
    li(id="ExFdList" onmouseover="this.classList.add('active')" onmouseout="this.classList.remove('active')")
      div(class="ui-list-img-square")
        span(style="background-image:url(http://placeholder.qiniudn.com/188x188)")
      div(class="ui-list-info ui-border-t")
        h4(class="ui-nowrap") 试验列表
        p(class="ui-nowrap") 列出系统中所有已注册的的试验田