doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css')
  body
    block content
